[View in Colaboratory](https://colab.research.google.com/github/GohioAC/FAER-ML/blob/master/Python.ipynb)

>[Introduction to Google Colaboratory](#scrollTo=2SarxRlaFSwN)

>>[1 Code cells](#scrollTo=rgnViFNUlKTq)

>>[2 Tab Completion](#scrollTo=QGFpvIAdG-lg)

>[Introduction to Python](#scrollTo=QzE_37oC3VHS)

>>[1 Basic Syntax](#scrollTo=t9dC9uIK3VHU)

>>>[1.1 Variables and Types](#scrollTo=uZ_1JvIi3VHc)

>>>[1.2 Help](#scrollTo=6cRW4U9C3VHh)

>>>[1.3 Built-in Operators](#scrollTo=lsD8CAf83VHl)

>>[2 Data Structure](#scrollTo=-9siY-ya3VHq)

>>>[2.1 String](#scrollTo=NVBnae7w3VHr)

>>>>[2.1.1 Print Statement](#scrollTo=mbzEW5623VH3)

>>>[2.2 Lists](#scrollTo=QkQVFV8-3VH8)

>>>>[2.2.1 Slicing](#scrollTo=DFYuDuEb3VH_)

>>>>[2.2.2 Built-in Functions](#scrollTo=dpek-TlX3VIC)

>>>[2.3 Tuples](#scrollTo=W9X1kokt3VIG)

>>>[2.4 Sets](#scrollTo=VuQ6t5sw3VIJ)

>>>[2.5 Dictionaries](#scrollTo=upmPSE6-3VIT)

>>[3 Control Flow Statements](#scrollTo=GY94kZ8a3VIk)

>>>[3.1 If Else If](#scrollTo=ank13S8W3VIk)

>>>[3.2 For](#scrollTo=l6-YyKHx3VIn)

>>>[3.3 While](#scrollTo=ucFL8PZi3VIq)

>>>[3.4 Break](#scrollTo=k37Ru24N3VIt)

>>>[3.5 Continue](#scrollTo=T0z3k_Ru3VIw)

>>>[3.6 Catching exceptions](#scrollTo=cWOfm6Q53VI0)

>>[4 Functions](#scrollTo=niCtywje3VI4)

>>>[4.1 Scope of Variables](#scrollTo=yKDswess3VI_)

>>>[4.2 Lambda Functions](#scrollTo=UP1byFExtolU)

>>>[4.3 Chaining Functions](#scrollTo=YZj_OOOL3VJF)

>>>[4.4 List Comprehension](#scrollTo=gXUJcGRt3VJJ)

>>>[4.5 Importing Libraries](#scrollTo=fUutmVF_3VJN)

>>[5 File I/O](#scrollTo=J2WgVglplPyH)

>>[6 Classes](#scrollTo=FNpJ4IWn0wO1)

>[Intro to Useful Libraries](#scrollTo=lCO6WdU92b-y)

>>[1 Pandas](#scrollTo=Pen7v4xBpRpz)

>>[2 Numpy](#scrollTo=XC1TozbU3HQk)

>>[3 Matplotlib](#scrollTo=JnblLmWI3Kzq)

>[Useful Resources](#scrollTo=OuHOFgSV73xj)

>[References](#scrollTo=ja5PHojK3VJT)

# Introduction to Google Colaboratory

A notebook is a list of cells. Cells contain either explanatory text or executable code and its output. Click a cell to select it.

## 1 Code cells
Below is a **code cell**. Once the toolbar button indicates CONNECTED, click in the cell to select it and execute the contents in the following ways:

* Click the **Play icon** in the left gutter of the cell.
* Type **Ctrl+Enter** to run the cell in place.
* Type **Shift+Enter** to run the cell and move focus to the next cell (adding one if none exists).

There are additional options for running some or all cells in the **Runtime** menu.

In [0]:
#@title
a = 10
a

## 2 Tab Completion
Run the first cell to import numpy, then press TAB after np.random. In the second cell to observe tab-completion at work.

In [0]:
#@title
import numpy as np

In [0]:
#@title
np.random.

Tab completion after **(** brings up a tooltip with the docstring:

In [0]:
#@title
np.random.rand(

You can get a detailed help popup by adding a **?** after the object or method name and typing **Shift+Enter**.

In [0]:
#@title
np.random?

# Introduction to Python

Python is a *modern, robust, high level* programming language. It is very easy to pick up even if you are completely new to programming.

Python, similar to other languages like Matlab or R, is **interpreted** hence runs slowly compared to **compiled** languages like C++, Fortran or Java. However writing programs in Python is very quick. Python has a very large collection of libraries for everything from scientific computing to web services.

These lectures are using **ipython notebooks** which mix *Python* code with *documentation*. The python notebooks can be run on a webserver or stand-alone on a computer.

We'll be using **Python 3.6** throughout this tutorial and the notebooks are run on **Google Colaboratory**.

## 1 Basic Syntax

* Python has no **mandatory statement termination character**.
* **No spaces or tab** characters allowed at the **start of a statement**, except for indented blocks. (more on this later)
* Indentation plays a special role in Python, **blocks are specified by indentation**.
* The **`#`** character indicates that the rest of the line is a **comment**, **`'''`** represents multi-line comment.
* Values are **assigned** (in fact, objects are bound to names) with **`=`**.

In [0]:
var = 1
# var = 2.
''' The above statement is a comment,
This is a multi-line comment.
'''
print("value of var is %d." % var)

In [0]:
var = 3 # no space at beginning
    print(var) # indented code

### 1.1 Variables and Types

Python is *strongly typed* (i.e. types are enforced), *dynamically, implicitly* typed (i.e. you donâ€™t have to declare variables), *case sensitive* (i.e. var and VAR are two different variables) and *object-oriented* (i.e. everything is an object). The basic types build into Python include **`float`** (floating point numbers), **`int`** (integers), **`str`** (unicode character strings) and **`bool`** (boolean). The **`type()`** function returns the type of an object. Some examples of each:

In [0]:
var1 = 5
var2 = 15.2632423
var3 = "Hello World!"
var4 = True

print("var1 is of type %s." % type(var1))
print("var2 is of type %s." % type(var2))
print("var3 is of type %s." % type(var3))
print("var4 is of type %s." % type(var4))

### 1.2 Help
Python has extensive *help* built in. You can execute **`help()`** for an overview or **`help(x)`** for *any library, object or type x* to get more information.

In [0]:
help(var1)

### 1.3 Built-in Operators

<table>
<tr>
    <th>Arithmetic</th>
    <th>Logical</th>
    <th>Bitwise</th>
</tr>
<tr>
    <td>
    <table>
    <tr>
        <th>Symbol</th>
        <th>Task Performed</th> 
    </tr>
    <tr>
        <td>+</td>
        <td>addition</td> 
    </tr>
    <tr>
        <td>-</td>
        <td>subtraction</td> 
    </tr>
    <tr>
        <td>/</td>
        <td>division</td> 
    </tr>
    <tr>
        <td>//</td>
        <td>floor division</td> 
    </tr>
    <tr>
        <td>%</td>
        <td>mod</td> 
    </tr>
    <tr>
        <td>&#42;</td>
        <td>multiplication</td> 
    </tr>
    <tr>
        <td>&#42;&#42;</td>
        <td>exponentiation</td> 
    </tr>
    </table>
    </td>
    <td>
    <table>
    <tr>
        <th>Symbol</th>
        <th>Task Performed</th> 
    </tr>
    <tr>
        <td>==</td>
        <td>equals</td> 
    </tr>
    <tr>
        <td>!=</td>
        <td>not equals</td> 
    </tr>
    <tr>
        <td>&lt;</td>
        <td>less than</td> 
    </tr>
    <tr>
        <td>&gt;</td>
        <td>greater than</td> 
    </tr>
    <tr>
        <td>&lt;=</td>
        <td>less than or equal to</td> 
    </tr>
    <tr>
        <td>&gt;=</td>
        <td>greater than or equal to</td> 
    </tr>
    </table>
    </td>
    <td>
    <table>
    <tr>
        <th>Symbol</th>
        <th>Task Performed</th> 
    </tr>
    <tr>
        <td>&amp;</td>
        <td>AND</td> 
    </tr>
    <tr>
        <td>|</td>
        <td>OR</td> 
    </tr>
    <tr>
        <td>^</td>
        <td>XOR</td> 
    </tr>
    <tr>
        <td>~</td>
        <td>NOT</td> 
    </tr>
    <tr>
        <td>&gt;&gt;</td>
        <td>right shift</td> 
    </tr>
    <tr>
        <td>&lt;&lt;</td>
        <td>left shift</td> 
    </tr>
    </table>
    </td>
</tr>
</table>

In [0]:
int1 = 5
int2 = 3
print("%d + %d equals %d." % (int1, int2, int1 + int2))
print("%d - %d equals %d." % (int1, int2, int1 - int2))
print("%d / %d equals %d." % (int1, int2, int1 / int2))
print("%d // %d equals %d." % (int1, int2, int1 // int2))
print("%d %% %d equals %d." % (int1, int2, int1 % int2))
print("%d * %d equals %d." % (int1, int2, int1 * int2))
print("%d ** %d equals %d." % (int1, int2, int1 ** int2))

In [0]:
int1 = 3
print("%d == 2 equals %r." %(int1, int1 == 2))
print("%d ! 2 equals %r." %(int1, int1 != 2))
print("%d < 2 equals %r." %(int1, int1 < 2))
print("1 < %d <= 10 equals %r." %(int1, 1 < int1 <= 10))

In [0]:
int1 = 2
int2 = 3
print("%d is %s in binary." %(int1, bin(int1)))
print("%d is %s in binary." %(int2, bin(int2)))
print("%d & %d is %s in binary." % (int1, int2, bin(int1 & int2)))
print("%d | %d is %s in binary." % (int1, int2, bin(int1 | int2)))
print("%d ^ %d is %s in binary." % (int1, int2, bin(int1 ^ int2)))

## 2 Data Structure

### 2.1 String

Strings  have to be enclosed in **`'`** single or **`"`** double quotation marks, and you can have quotation marks of one kind inside a string that uses the other kind. Multiline strings are enclosed in **`'''`** or **`"""`** triple quotes.

Strings are **immutable** i.e. is not possible to modify a string. All string modification operations create a new string and return it.

There are lots of **built-in methods** for formating and manipulating strings built into Python. Some of these are illustrated here.

1. String concatenation is the "addition" of two strings. (There is no subtraction.)
1. Multiplying a string by an integer simply repeats it.
1. Strings can be compared in lexicographical order with the usual comparisons.
1. Strings can be indexed with square brackets. Indexing starts from zero in Python and -1 represents the last index.

In [0]:
str1 = 'Hello'
str2 = 'World!'
str3 = "Hello World!"
str4 = '''Multi-line
string,
three lines to be exact.'''
print("'%s' + '%s' equals '%s'." % (str1, str2, str1 + str2))
print("'%s' * 5 equals '%s'." %(str3, str3*5))

In [0]:
print("'%s' < '%s' equals %r." % (str1, str2, str1 < str2))
str5 = 'Python'
print("First character of '%s' is '%s'." % (str5, str5[0]))
print("Last character of '%s' is '%s'." % (str5, str5[-1]))
print("First three characters of '%s' is '%s'." % (str5, str5[0:3]))

In [0]:
str1="hello World"
print("'%s' capitalized is '%s'." % (str1, str1.capitalize()))
print("'%s' in upper case is '%s'." % (str1, str1.upper()))
print("'%s' in lower case is '%s'." % (str1, str1.lower()))

In [0]:
str1="   hello world with trailing space"
print("'%s' stripped of space is \n'%s'.\n" % (str1, str1.strip())) # strip can also remove characters other than space.
str2 = str1.strip()
print("Replacing 'with' with 'without' in '%s' gives \n'%s'.\n" % (str2, str2.replace("with", "without")))
print("'%s' splitted by space is \n'%s'.\n" % (str2, str2.split())) # split can divide based on characters other than space.

In [0]:
str1='Python'

str2='C'+str1[1:]
print(str1,'-->',str2)

str3=str1.replace('P','C')
print(str1,'-->',str3)

str1[0] = 'C'

#### 2.1.1 Print Statement

The **`print()`** function prints all of its arguments as strings, separated by spaces and followed by a linebreak:

    - print("Hello World")
    - print("Hello",'World')
    - print("Hello", <Variable Containing the String>)
    
To fill a string with values from variables, you use the % (modulo) operator and a tuple. Some common string formatters are:
- %s -> string
- %d -> Integer
- %f -> Float

In [0]:
str1 = "World"
print("Hello %s" % str1)
print("Hello", str1)
print("Actual Number = %d" %18)
print("Float of the number = %f" %18)

### 2.2 Lists

Lists are the most commonly used data structure. Think of it as a **1D array**, where each element can be accessed by calling it's index value. Lists are **dynamic** in nature i.e. you can keep on adding data to a list. Lists need not be homogeneous, i.e. the same list can contain elements of different data types, even another list.

Lists are declared by **`[]`** or **`list()`**.

In [0]:
list1 = []
list2 = list()
list3 = ['apple', 'orange']
list4 = [1, 2, 3]
list5 = ['apple', 2, 3, ['orange', 3, 5]]
print("list5 contains %s and is of type %s." % (list5, type(list5)))
print("First element of list5 is %s of type %s." % (list5[0], type(list5[0])))
print("Last element of list5 is %s of type %s." % (list5[-1], type(list5[-1])))
print("First element of the above nested list is %s." % list5[-1][0])

#### 2.2.1 Slicing

Indexing is limited to accessing a single element, slicing on the other hand is accessing a (sub)sequence of data inside the list. It is written as **`[a:b:c]`** where a,b are the index values from the parent list and c is the step size.

In [0]:
list6 = [1,2,3,4,5,6,7,8,9,10]
print("The first to fourth elements of list6 are %s." % list6[0:4])
print("all but last element of list6 are %s." % list6[:-1])
print("every even index element of list6 are %s." % list6[::2])

#### 2.2.2 Built-in Functions

* To find the length of the list or the number of elements in a list, **`len()`** is used.
* **`append()`** is used to add a single element at the end of the list.
* Appending a list to a list would create a sublist. If a nested list is not what is desired then the **`extend()`** function can be used.
* **`insert(x,y)`** inserts but does not replace element. If you want to replace the element with another element you simply assign the value to that particular index.
* **`count()`** is used to count the number of a particular element that is present in the list.
* **`index()`** is used to find the index value of a particular element. Note that if there are multiple elements of the same value then the first index value of that element is returned.

There are a ton of other useful built-in functions like **`max()`**, **`min()`**, **`pop()`**, **`sort()`**, type **`help(list)`**.

In [0]:
list7 = [1, 2, 3, 4, 5, 6]
print("List contains", list7)
list7.append(7)
print("Appending 7 to the list gives", list7)
list7.extend([8, 9, 10])
print("Extending the list by several numbers gives", list7)
list7.insert(5, 6)
print("Inserting a 6 at index 5 gives", list7)
print("The element 6 occurs %s times." % list7.count(6))
print("The length of the list is", len(list7))

### 2.3 Tuples

Tuples are similar to lists but are immutable i.e. the elements inside a tuple cannot be changed.

Tuples are declared by **`()`** or **`tuple()`** or by ending a sequence with a **`,`**.

In [0]:
tup1 = []
tup2 = tuple()
tup3 = ('apple', 'orange')
print(type(tup3), tup3)
tup4 = 1,
print(type(tup4), tup4)

### 2.4 Sets


Sets are mainly used to eliminate repeated numbers in a sequence/list.

Sets are declared as **`set()`** which will initialize a empty set. **`set([sequence])`** or **`{sequence}`** declares a set with elements.

Sets have built-in functions for standard set operations like **`union()`**, **`intersection()`**, **`difference()`**, **`symmetric_difference()`**, **`issubset()`**, **`isdisjoint()`**, **`issuperset()`**, etc.

In [0]:
set1 = set()
print("type of set1 is", type(set1))

In [0]:
set2 = set([1, 2, 3, 4])
set3 = {3, 4, 5, 6, 7}
print("set2 contains", set2)
print("set3 contains", set2)
print("Union is", set2.union(set3)) # same as |
print("Intersection gives", set2.intersection(set3)) # same as &
print("Difference gives", set2.difference(set3)) # same as -
print("Symmetric difference gives", set2.symmetric_difference(set3)) # same as ^
print("is set2 subset of set3?", set2.issubset(set3)) # same as <=
print("is set2 and set3 disjoint?", set2.isdisjoint(set3))
print("is set2 superset of set3?", set2.issuperset(set3)) # same as >=
print("is 4 in set2?", (5 in set2))

### 2.5 Dictionaries

Dictionaries are mappings between keys and items. **Keys** in dictionaries are always **unique**.

Dictionaries are declared by **`{}`** or **`dict()`**.

In [0]:
dict1 = dict()
dict2 = {}
dict3 = {1: 'One', 2 : 'Two', 100 : 'Hundred'}
print("type of dict1 is", type(dict1))

Assign new (key, value) pairs to a dict using **`dict[key] = value`**. If key already exists the value is overwritten.
**`keys()`** returns the list of all keys, **`values()`** return the list of all values and **`items()`** returns the list of all (key, value) pairs.

In [0]:
dict4 = {1: 'One', 'Two': 2, (1,2): 'tuple', '(1,2)': 'str'}
print("List of keys in dict4:", dict4.keys())
print("List of values in dict4:", dict4.values())
print("List of items in dict4:", dict4.items())

## 3 Control Flow Statements

The key thing to note about Python's control flow statements and program structure is that it uses **indentation** to mark blocks. Hence the amount of white space (space or tab characters) at the start of a line is very important.

### 3.1 If Else If

```python
if some_condition:  
    algorithm
elif some_condition:
    algorithm
else:
    algorithm```
    
if statements can be nested.

In [0]:
x = 10
y = 12
if x > y:
    print("x>y")
elif x < y:
    print("x<y")
else:
    print("x=y")

### 3.2 For

```python
for variable in something:
    algorithm```
    
When looping over integers the **range()** function is useful which generates a range of integers:
* range(n) =  0, 1, ..., n - 1
* range(m,n) = m, m + 1, ..., n - 1
* range(m,n,s) = m, m + s, m + 2s, ..., m + ((n - m - 1) // s) * s

The **`enumerate()`** function gives **(index, element)** pairs while iterating over a sequence, instead of just the element.

In [0]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
total = 0
for each_list in list_of_lists:
    for num in each_list:
        total = total + num
print(total)

### 3.3 While

```python
while some_condition:  
    algorithm```

In [0]:
i = 1
while i < 3:
    print(i ** 2)
    i = i+1
print('Bye')

### 3.4 Break

As the name says. It is used to break out of a loop when a condition becomes true when executing the loop.

In [0]:
for i in range(100):
    print(i)
    if i>=4:
        break

### 3.5 Continue

This continues the rest of the loop. Sometimes when a condition is satisfied there are chances of the loop getting terminated. This can be avoided using continue statement.

In [0]:
for i in range(4):
    if i == 2:
        print("Ignored", i ** 2)
        continue
    print("Processed", i) # this statement is not reach if i > 4

### 3.6 Catching exceptions

Some errors may not necessitate interrupting the program. A try block allows you to catch exceptions that happen anywhere during the exeuction of the try block and let you deal with it:
```python
try:
    code
except <Exception Type> as <variable name>:
    # deal with error of this type
except:
    # deal with any error```

In [0]:
for i in [2,1.5,0.0,3]:
    inv_sum = 0
    try:
        inverse = 1.0/i
        inv_sum += inverse
    except ZeroDivisionError as e: # no matter what exception
        print(e)
print(inv_sum)

## 4 Functions

In programmming, functions are a mechansim to allow code to be re-used so that complex programs can be built up out of simpler parts. This is the basic syntax of a function:

```python
def funcname(arg1, arg2,..., argN-i=<default_value>, argN-i+1=<default_value>,..., argN=<default_value>):
    statements
    return <value>```
    
Return values are optional (by default every function returns **None** if no return statement is executed)

In [0]:
x = range(10)
def func1(num_list):
    ''' Function takes list of numbers as argument.
        Return the highest, lowest, first and last element in the list.
    '''
    highest = max(num_list)
    lowest = min(num_list)
    first = num_list[0]
    last = num_list[-1]
    return highest, lowest, first, last
print("highest %d, lowest %d, first %d, last %d." % func1(x))

### 4.1 Scope of Variables

Whatever variable is declared inside a function is local variable and outside the function in global variable.

A global variable can be called from anywhere using the `global` keyword. Global values should be used sparingly as they make functions harder to re-use.

In [0]:
x = 1
y = 3
print("initiate x =", x)
print("initiate y =", y)
def func2():
    global x
    x = 2 # global variable 
    y = 4 # local variable
    print("inside func x is", x)
    print("inside func y is", y)
func2()
print("outside func x =", x)
print("outside func y =", y)

### 4.2 Lambda Functions

These are small functions which are not defined with any name and carry a single expression whose result is returned. Lambda functions comes very handy when operating with lists. These function are defined as:
```
lamba var1, var2, ..., varN: algorithm
```

The **map()** function takes as input a function and applies to a list/sequence.

In [0]:
fahrenheit = [20, 25, 30]
celsius = map(lambda x: (float(9) / 5) * x + 32, fahrenheit)
print(list(celsius))

### 4.3 Chaining Functions

In python functions can be chained i.e. you can call a function on the output of another function directly in a single line.

In [0]:
def square(num_list):
    for i, num in enumerate(num_list):
        num_list[i] = (num ** 2)
    return num_list

def cumsum(num_list):
    cum_sum = 0
    for i, num in enumerate(num_list):
        cum_sum += num
        num_list[i] = cum_sum
    return num_list

def average(num_list):
    return sum(num_list)/len(num_list)

x = [1, 2, 3, 5, 8, 7, 6]
print(average(cumsum(square(x))))

### 4.4 List Comprehension

A very powerful concept in Python (that also applies to Tuples, sets and dictionaries as we will see below), is the ability to define lists using list comprehension (looping) expression.

In [0]:
x = [1, 2, 3, 5, 8, 7, 6]
print(average(cumsum([i ** 2 for i in x])))

### 4.5 Importing Libraries

Python has an extensive collection of external libraries whoch contains many standard functions required for different applications.

External libraries are used with the `import <libname>` keyword. You can also use `from <libname> import <funcname>` for individual functions. Within a library a function is referenced as `<libname>.<funcname>`. You can import a library using a custom name by `import <libname> as <customname>`.

In [0]:
import numpy as np

x = [1, 2, 3, 5, 8, 7, 6]
print(np.mean(np.cumsum([i ** 2 for i in x])))

## 5 File I/O

* **`open()`** returns a file object, and is most commonly used with two arguments:  filename and mode. The common modes are:
    * r: read-only
    * w: overwrite
    * a: append

* **`close()`** closes a file object.
* Use **`with`** for handling files to enable automatic closing.
* There are many ways to read from or write into a file. Use `for` loop to iterate through a file and use `print()` command with **`file=file_handle`** to write.

In [0]:
fout = open('test_file.txt', 'w')
print("This is the first line.", file=fout)
print("This is the second line.", file=fout)
print("This is the last line.", file=fout)
fout.close()

with open('test_file.txt') as fin:
    print("Reading from test_file.txt that we just wrote to.")
    for line in fin:
        print(line, end='')

## 6 Classes

A class is declared as follows:
```python
class class_name:
    methods (functions)```
All variables in pythons are objects. Objects are instances of a class.

In [0]:
class Counter:
    def __init__(self, init=0):
        self.count = init
    def reset(self):
        self.count = 0
    def getCount(self):
        self.count += 1
        return self.count

counter = Counter(5)
print("Initial value of counter:", counter.count)
counter.reset()
print("Value of counter after reset:", counter.count)
print("one =",counter.getCount(),"two =",counter.getCount(),"three =",counter.getCount())

# Intro to Useful Libraries

## 1 Pandas 

pandas is a column-oriented data analysis API. It's a great tool for handling and analyzing input data, and many ML frameworks support pandas data structures as inputs.

The primary data structures in pandas are implemented as two classes:

  * **`DataFrame`**, which you can imagine as a relational data table, with rows and named columns.
  * **`Series`**, which is a single column. A `DataFrame` contains one or more `Series` and a name for each `Series`.
  
`DataFrame` objects can be created by passing a `dict` mapping `string` column names to their respective `Series`. If the `Series` don't match in length, missing values are filled with special NA/NaN.

In [0]:
import pandas as pd
city_names = pd.Series(['San Francisco', 'San Jose', 'Sacramento'])
population = pd.Series([852469, 1015785, 485199])

cities = pd.DataFrame({ 'City name': city_names, 'Population': population })
cities

But most of the time, you load an entire file into a DataFrame. The following example loads a file with California housing data.

* The **`describe()`**  function shows interesting statistics about a `DataFrame`.
* Another useful function is **`head()`**, which displays the first few records of a `DataFrame`. Similarly, **`tail()`** displays the last dew records.
* Another powerful feature is graphing. For example, **`hist()`** lets you quickly study the distribution of values in a column.

In [0]:
housing_dataframe = pd.read_csv("https://storage.googleapis.com/mledu-datasets/california_housing_train.csv", sep=",")
housing_dataframe.describe()

In [0]:
housing_dataframe.head()

In [0]:
housing_dataframe.hist('median_income')

You can access DataFrame data using familiar Python dict/list operations. You may apply Python's basic arithmetic operations to Series. Modifying DataFrames is also straightforward.

In [0]:
cities['Area square miles'] = pd.Series([46.87, 176.53, 97.92])
cities['Population density'] = cities['Population'] / cities['Area square miles']
cities

For more complex single-column transformations, you can use **`apply()`**. It accepts as an argument a lambda function, which is applied to each value.

In [0]:
cities['Overpopulated'] = cities['Population'].apply(lambda val: val > 1000000)
cities

## 2 Numpy

NumPyâ€™s main object is the homogeneous multidimensional array. It is a table of elements (usually numbers), all of the same type, indexed by a tuple of positive integers. NumPyâ€™s array class is called ndarray.

You can create an array from a regular Python list or tuple using the **`array()`** function. Some important attributes of an ndarray object are:

* **`ndarray.ndim`**: the number of axes (dimensions) of the array.
* **`ndarray.shape`**: the dimensions of the array. The length of the shape tuple is therefore the number of axes, ndim.
* **`ndarray.size`**: the total number of elements of the array. This is equal to the product of the elements of shape.
* **`ndarray.dtype`**: an object describing the type of the elements in the array. One can create or specify dtypeâ€™s using standard Python types. Additionally NumPy provides types of its own. numpy.int32, numpy.int16, and numpy.float64 are some examples.
* **`ndarray.data`**: the buffer containing the actual elements of the array. Normally, we wonâ€™t need to use this attribute because we will access the elements in an array using indexing facilities.

There are numerous other ways to initialize an array like **`zeros`**, **`zeros_like`**, **`ones`**, **`ones_like`**, **`empty`**, **`empty_like`**, **`arange`**, **`linspace`**, **`numpy.random.rand`**, **`numpy.random.randn`**, etc.

In [0]:
import numpy as np
array1 = np.array([1, 3, 8, 2, 6])
print("Shape of array1 is", array1.shape)
array2 = np.array([[1, 3, 8, 2, 6], [12, 1, 2, 5, 4]])
print("No of dim in array2 is", array2.ndim)
print("Shape of array2 is", array2.shape)
print("Size of array2 is", array2.size)
print("Data type of array2 is", array2.dtype)
print("Array creation using ones gives\n", np.ones((2, 5, 2)))

Arithmetic operators on arrays apply elementwise. A new array is created and filled with the result.

One-dimensional arrays can be indexed, sliced and iterated over, much like lists and other Python sequences. Multidimensional arrays can have one index per axis. These indices are given in a tuple separated by commas.

The shape of an array can be changed by **`reshape()`** command. It returns a modified array, but does not change the original array. There are other shape changing commands like **`ravel()`**, **`T`**, etc.

In [0]:
array1 = np.random.randint(1, 10, size=(3, 6))
print("Original array:\n", array1)
print("\nSquared array:\n", array1 ** 2)
print("\nLog of array:\n", np.log(array1))
print("\nMulti-dimensional slicing:\n", array1[2, 1:5])
print("\nReshaped array:\n", array1.reshape(2, 9))

## 3 Matplotlib
matplotlib.pyplot is a collection of command style functions that make matplotlib work like MATLAB. Each pyplot function makes some change to a figure: e.g., creates a figure, creates a plotting area in a figure, plots some lines in a plotting area, decorates the plot with labels, etc.

The two most important commands are **`plot()`** and **`show()`**. Without further discussion let's just look at an example.

In [0]:
import matplotlib.pyplot as plt
plt.plot([1, 2, 3, 4])
plt.ylabel('some numbers')
plt.show()

 If you provide a single list or array to the plot() command, matplotlib assumes it is a sequence of y values, and automatically generates the x values for you. So let's try something else.

In [0]:
plt.plot([1, 2, 3, 4], [1, 4, 9, 16])

We can add further customization like axis labels, legend, caption, plot style, etc. You know what to do for more information.

In [0]:
import numpy as np
t = np.arange(0., 5., 0.2)

# red dashes, blue squares and green triangles
plt.plot(t, t, 'r--', t, t**2, 'bs', t, t**3, 'g^')
plt.xlabel('x axis')
plt.ylabel('values')
plt.title('Different powers of array t.')
plt.legend(['linear', 'square', 'cube'])
plt.show()

One last example with multiple plots.

In [0]:
names = ['group_a', 'group_b', 'group_c']
values = [1, 10, 100]

plt.figure(1, figsize=(9, 3))

plt.subplot(131)
plt.bar(names, values)
plt.subplot(132)
plt.scatter(names, values)
plt.subplot(133)
plt.plot(names, values)
plt.suptitle('Categorical Plotting')
plt.show()

# Useful Resources

* [Head First Python - O'Reilly.](http://shop.oreilly.com/product/0636920003434.do)
* [Python official documentation.](https://docs.python.org/3.6/)
* [Matplotlib official user's guide.](https://matplotlib.org/users/index.html)
* [Pandas official documentation.](https://pandas.pydata.org/pandas-docs/version/0.22/)
* [Numpy official docmentation.](https://docs.scipy.org/doc/numpy-1.14.0/reference/)
* [A gallery of interesting notebooks.](https://github.com/jupyter/jupyter/wiki/A-gallery-of-interesting-Jupyter-Notebooks)

# References

* [Learn Python in 10 minutes by Stavros Korokithakis.](https://www.stavros.io/tutorials/python/)
* [Python4maths repo  by Andreas Earnst.](https://gitlab.erc.monash.edu.au/andrease/Python4Maths)